---
extends:
  - "defaults"
  - "defaults/configurations/google"
rules:
  no-new: 2
  max-len: [2, 120]
  space-before-function-paren: [2, {"anonymous": "always", "named": "never"}]
  dot-location: [2, "property"]
  key-spacing: [2, {"beforeColon": false, "afterColon": true, "mode": "minimum"}]
  semi: [2, "always"]
  eqeqeq: 2
  strict: [2, "global"]
  new-cap: 0
  no-var: 2
env:
  es6: true
  node: true
  mocha: true
